In [1]:
import pandas as pd

Shouldnt need to run this code again! It just sets up the 5cat dataset (of 23k observations) in a way to be evaluated on the ynobs models. It needs to 1) have foldnum adjusted 2) say nonobs instead of the 5 classes (in img_cat col)

In [6]:
df = pd.read_csv("/home/csutter/DRIVE/dot/model_trackpaths/nestcv_5cat_twotrain_OT5_m0_T0V1.csv") # grab just one example, drop the foldnum and phase cols, will add them in relation to the ynobs data below

df = df.drop(columns = ["outerPhase", "innerPhaseOrig", "innerPhase", "foldnum"])

In [3]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'innerPhase', 'Unnamed: 0',
       'outerPhase', 'img_name', 'img_orig', 'site', 'img_index', 'img_cat',
       'foldnum', 'ID', 'Latitude', 'Longitude', 'date', 'yr', 'mo', 'day',
       'time', 'yr_mo', 'timeofday', 'timeofevent', 'innerPhaseOrig'],
      dtype='object')

In [14]:
# connect the foldnum for ynobs data. Dont need any phase designation, all of that is done in the _run_ODM.py.

# first collect the site to foldnum for ynobs data
ynobs = pd.read_csv("/home/csutter/DRIVE-clean/trackers_ODM/ynobs_entire.csv")
ynobs_site_fold_mapping = ynobs[["site", "foldhalf"]].drop_duplicates().reset_index()
display(ynobs_site_fold_mapping)

df_with_ynobs_foldnum = df.merge(ynobs_site_fold_mapping, how = "inner", on = "site")

display(df_with_ynobs_foldnum.head(4))

    index                site  foldhalf
0       0        Skyline_5630         0
1       6        Skyline_6163         0
2      10        Skyline_6493         1
3      32        Skyline_2103         1
4      39        Skyline_1803         1
5      40        Skyline_1790         1
6      42        Skyline_6048         0
7      44        Skyline_6160         1
8      45        Skyline_6390         0
9      50        Skyline_1970         1
10     57        Skyline_2184         0
11     61        Skyline_1884         0
12     89        Skyline_1879         1
13     90        Skyline_1881         1
14     91        Skyline_5702         0
15     92        Skyline_5701         1
16     94        Skyline_1886         1
17     97        Skyline_1882         1
18     99        Skyline_1885         0
19    122        Skyline_1877         0
20    123        Skyline_1883         1
21    125        Skyline_6798         0
22    130        Skyline_6419         0
23    134        Skyline_5640         1
24    139        Skyline_6721         0
25    141        Skyline_1873         1
26    142        Skyline_2087         1
27    164       NYSDOT_174002         1
28    168  NYSDOT_m4er5dez4ab         0
29    172  NYSDOT_uyomtjhwsay         1
30    184        Skyline_1824         0
31    189        Skyline_1872         1
32    193        Skyline_1874         1
33    200        Skyline_1878         0
34    210        Skyline_1880         0
35    261        Skyline_2194         0
36    270        Skyline_5697         0
37    275        Skyline_5698         1
38    280        Skyline_5699         0
39    285        Skyline_5700         1
40    300        Skyline_5823         0
41    310        Skyline_6117         0
42    324        Skyline_6294         1
43    347        Skyline_6799         1
44    352        Skyline_8344         0

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,img_name,img_orig,site,img_index,img_cat,ID,Latitude,...,date,yr,mo,day,time,yr_mo,timeofday,timeofevent,index,foldhalf
0,0,0,0,I_290_between_Exit_7_(Main_Street)_and_Exit_6_...,/home/csutter/DRIVE/site_analysis/group_labeli...,Skyline_5630,1,wet,Skyline_5630,42.969187,...,1/24/22,2022,1,24,14:00:12,202201,day,"dawn:12:06:29.361832, sunrise:12:37:47.866183,...",0,0
1,1,1,1,I_290_between_Exit_7_(Main_Street)_and_Exit_6_...,/home/csutter/DRIVE/site_analysis/group_labeli...,Skyline_5630,2,wet,Skyline_5630,42.969187,...,1/24/22,2022,1,24,15:00:14,202201,day,"dawn:12:06:29.361832, sunrise:12:37:47.866183,...",0,0
2,2,2,2,I_290_between_Exit_7_(Main_Street)_and_Exit_6_...,/home/csutter/DRIVE/site_analysis/group_labeli...,Skyline_5630,3,wet,Skyline_5630,42.969187,...,1/24/22,2022,1,24,16:00:17,202201,day,"dawn:12:06:29.361832, sunrise:12:37:47.866183,...",0,0
3,3,3,3,I_290_between_Exit_7_(Main_Street)_and_Exit_6_...,/home/csutter/DRIVE/site_analysis/group_labeli...,Skyline_5630,4,wet,Skyline_5630,42.969187,...,1/24/22,2022,1,24,17:00:18,202201,day,"dawn:12:06:29.361832, sunrise:12:37:47.866183,...",0,0

In [15]:
# also take the img_cat col and replace it all with "nonobs"

df_with_ynobs_foldnum["img_cat"] = "nonobs"

In [16]:
# save out 
df_with_ynobs_foldnum.to_csv("/home/csutter/DRIVE-clean/trackers_ODM/nestcv_5cat_converted_ynobs_twotrain.csv")